<!--Testimonials-->
<aside id="testimonials" class="scrollto text-center" data-enllax-ratio=".2">

  <div class="row clearfix">

    <div class="section-heading">
      <h3>{{testimonials.tagLine}}</h3>
      <h2 class="section-title">{{testimonials.title}}</h2>
    </div>

    <!--User Testimonial-->
    <blockquote class="col-3 testimonial classic" *ngFor="let customer of testimonials.feedbacks">
        <img src="../assets/images/user-images/{{customer.image}}" alt="User"/>
        <q>{{customer.comment}}</q>
        <footer>{{customer.name}} - Happy Customer</footer>
    </blockquote>
    <!-- End of Testimonial-->

  </div>

</aside>
<!--End of Testimonials-->
